.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  overflow: hidden;
  color: #eee;
}

.detail:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.06) 40%,
    rgba(27, 32, 48, 0.5) 100%
  );
}
.detail:before {
  content: "";
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  scale: (1);
  transform: translateZ(0);
  background: #1b2030 url(../../assets/pizza.jpg) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: grow 720s linear 10ms infinite;
  transition: all 0.3s ease-in-out;
  z-index: -2;
  opacity: 0.9;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  30% {
    transform: scale(1.1) translateY(-50px);
  }
}

.container {
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}

.Nav {
  display: flex; /* agrega la propiedad display: flex para colocar los botones en línea horizontal */
  justify-content: space-between; /* agrega la propiedad justify-content para espaciar los botones en la línea horizontal */
  width: 100%;
  padding: 5px;
}

.img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
  height: 270px;
}

.name {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-radius: 8px;
  backdrop-filter: blur(40px);
}

.healthScore {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  height: 44px;

  background-color: #4a5552;
  border-radius: 5px;
  padding: 11px 4px 10px 4px;
  margin: 10px;
  width: 60px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.diets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: white;
}

.summary {
  border-radius: 8px;
  margin: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  text-decoration: none;
  backdrop-filter: blur(40px);
}

.text {
  width: 600px;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1070px;
  padding: 20px;
  margin: 20px;
  color: #fff;
  backdrop-filter: blur(40px);

  border-radius: 8px;
}

.button {
  background-color: #4a5552;
  color: #fff;
  border: none;
  height: 34px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #6d6c6c;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  /* color: white; */
  margin: 20px 0;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  color: white;
  margin: 1px 20px;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}

.diet {
  display: inline-block;
  background-color: #4a5552;
  height: 34px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1em;
  margin-right: 10px;
  padding: 11px 8px 10px 8px;
}
