.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bolder;
  width: 100%;
}

.filters {
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  width: 1190px;
  height: 60px;
  border: 2px white solid;
  outline: 0;
  margin: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
}

.diets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.divContainer {
  color: #fff;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 430px;
  height: 700px;
  background: linear-gradient(
    to bottom,
    right rgb(198, 196, 196) 0%,
    rgba(255, 251, 251, 0.12) 80%
  );
  justify-content: space-evenly;
}

.btn {
  color: #fff;
  background-color: rgba(109, 108, 108, 0.5);
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(109, 108, 108, 0.8);
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.textDe {
  text-decoration: none;
}

.sideFather {
  position: sticky;
  top: 0;
  z-index: 999;
}

.textDe {
  text-decoration: none;
}

.option {
  background-color: transparent;
  font-weight: 900;
  font-size: 1.1em;
  height: 40px;
  border: none;
  background-color: rgba(109, 108, 108, 0.5);

  /* border: 2px solid #fff; */
}

select {
  outline: 0;
  background-color: rgba(109, 108, 108, 0.5);
  flex: 1;
  font-size: 1.1em;
  padding: 0 0.5em;
  cursor: pointer;
  line-height: 1;
  box-sizing: border-box;
  height: 40px;
  color: #fff;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}
select::-ms-expand {
  display: none;
  background: #6296a8;
}

.select:hover {
  cursor: pointer;
  transform: scale(-1);
  border-bottom: 2px solid white;
}

.select::-ms-expand {
  background-color: aqua;
}

@media (max-width: 400px) {
  .container {
    height: 150px;
    border: none;
  }
  .filters {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    box-shadow: none;
  }
}

@media (max-width: 600px) {
  .container {
    height: 150px;
    border: none;
  }
  .filters {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    box-shadow: none;
  }
}
