.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
}
