.createConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  overflow: hidden;
  color: #eee;
}

.createConteiner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* background: linear-gradient(
    to top,
    rgb(198, 196, 196) 10%,
    rgba(96, 96, 96, 0.12) 30%
  ); */
}
.createConteiner:before {
  content: "";
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  scale: (1, 1);
  transform: translateZ(0);
  background: #1b2030 url(../../assets/header/pexels-ray-piedra-1565982.jpg)
    no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  animation: grow 360s linear 10ms infinite;
  transition: all 0.3s ease-in-out;
  z-index: -2;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  30% {
    transform: scale(1.2) translateY(-100px);
  }
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #fff 2px solid;
  backdrop-filter: blur(8px);
  width: 1100px;
  height: 700px;
  gap: 1rem;
  color: white;
  padding: 30px;
  border-radius: 8px;
  margin: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.info > input {
  resize: none;
  text-indent: 10px;

  width: 400px;
  height: 25px;
  border-radius: 3px;
  border: none;
  margin-bottom: 12px;
}

.info > textarea {
  text-indent: 10px;
  resize: none;
  width: 400px;
  height: 120px;
  border-radius: 3px;
  border: none;
  margin-bottom: 12px;
}

.info > span {
  width: 400px;
  height: 30px;
  color: rgb(208, 72, 72);
  padding-bottom: 1px;
}

.diets > span {
  width: 400px;
  height: 30px;
  color: rgb(208, 72, 72);
  padding-bottom: 1px;
}

.map {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid white 2px;
  border-radius: 8px;
  height: 95%;
  width: 45%;
}
.diets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  border-radius: 8px;
  height: 400px;
  width: 400px;
  padding: 12px;
  top: -10px;
  right: 0px;
}

.btn {
  border: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-content: center;
  background-color: rgba(109, 108, 108, 0.9);
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
}

.btn2 {
  position: absolute;
  top: 24px;
  right: 280px;
  z-index: 8;
  background-color: rgba(109, 108, 108, 0.9);
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
}

.btnDisable {
  color: #fff;
  background: rgb(200, 196, 196 10);
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  margin-right: 20px;
  cursor: default;
}
.btnDisable:hover {
  transform: none;
  cursor: default;
  cursor: default;
  background: default;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(109, 108, 108, 0.8);
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.btn2:hover {
  cursor: pointer;
  background-color: rgba(109, 108, 108, 0.8);
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.textDe {
  text-decoration: none;
}

.hs {
  width: 20px;
}

.info > input[type="number"] {
  margin-top: 2px;
  width: 60px;
}

.checks {
  margin-top: 4px;
  width: 40px;
}

@media (max-width: 700px) {
  .createConteiner {
    padding-right: 10%;
    padding-left: 1%;
    padding-top: 200px;
    width: 100%;
    max-width: 800px;
  }
  .createConteiner:before {
    background: #1b2030;
  }
  .form {
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
    border: none;
    margin-bottom: 350px;
  }

  .info {
    width: 100%;
  }

  .map {
    width: 100%;
    border: none;
  }
  .btnDisable {
    position: absolute;
    top: 1000px;
    right: 40px;
  }
  .diets {
    position: relative;
    padding: 4px;
    top: 50px;
  }

  .btn {
    position: absolute;
    top: 1000px;
    right: 40px;
    z-index: 9;
  }
  .btn2 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.checkbox {
  display: none; /* ocultamos la caja del checkbox */
}

.name {
  /* estilos para el botón */
  display: inline-block;
  padding: 9px;
  border: 0.1em solid #ffffff;
  margin: 5px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  /* font-weight: 400; */
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: rgba(109, 108, 108, 0.8);
  text-align: center;
  border: none;
  transition: all 0.2s ease-in-out;
  height: auto;
  width: 200px;
}

.name:hover {
  /* estilos para el hover */
  cursor: pointer;
  background-color: #555555;
  /* transform: translateY(0.5px); */
  border-bottom: 1px solid white;
  /* transform: scale(1); */
}

.name:active {
  /* estilos para cuando el botón está activo (pulsado) */
  background-color: #111111;
}

input:checked + .name {
  /* estilos para cuando el checkbox está seleccionado */
  /* background-color: #009900; */
  /* transform: translateY(-1px); */
  border-bottom: 3px solid #fff;
  background-color: rgba(109, 108, 108, 0.4);
}
