.filterConteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.1rem;
  font-weight: bolder;
  display: none;
}

.filters {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
}

.diets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.divContainer {
  color: #fff;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  height: 600px;
  background: linear-gradient(
    to bottom,
    right rgb(198, 196, 196) 0%,
    rgba(255, 251, 251, 0.12) 80%
  );
  justify-content: space-evenly;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #fff;
  border-radius: 8px 8px 8px 8px;
  position: fixed;
  top: 80px;
  right: 60px;
}

.btn {
  color: #fff;
  background-color: rgba(109, 108, 108, 0.5);
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.textDe {
  text-decoration: none;
}

.sideFather {
  position: sticky;
  top: 0;
  z-index: 999;
}

.textDe {
  text-decoration: none;
}

.option {
  background-color: transparent;
  font-weight: 900;
  font-size: 1.1em;
  height: 40px;
  border: none;
  background-color: none;
}

/* @media (max-width: 600px) {
  .divContainer {
    display: none;
  }
} */

.x {
  visibility: visible;
  width: 40px;
  height: 45px;
  cursor: pointer;
}
