.diets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.checkbox {
  display: none; /* ocultamos la caja del checkbox */
}

.name {
  /* estilos para el botón */
  display: inline-block;
  padding: 9px;
  border: 0.1em solid #ffffff;
  margin: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background-color: rgba(109, 108, 108, 0.8);
  text-align: center;
  border: none;
  transition: all 0.2s ease-in-out;
  height: auto;
  width: 200px;
}

.name:hover {
  /* estilos para el hover */
  cursor: pointer;
  background-color: #555555;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.name:active {
  /* estilos para cuando el botón está activo (pulsado) */
  background-color: #111111;
}

input:checked + .name {
  /* estilos para cuando el checkbox está seleccionado */
  /* background-color: #009900; */
  transform: translateY(-1px);
  border-bottom: 3px solid #fff;
  background-color: rgba(109, 108, 108, 0.4);
}
