.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.wrapper input {
  width: 40px;
  text-align: center;
  margin-right: 5px;
  height: 30px;
  background: none;
  border: none;
  border: 1px solid white;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}

.wrapper input:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.wrapper p {
  font-weight: 700;
}

/* .wrapper button {
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid #00000076;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  transition: color 0.6s;

  color: #00000076;
  cursor: pointer;
} */

.btn {
  color: #fff;
  background-color: rgba(109, 108, 108, 0.8);
  margin: 5px;
  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}
