.btn {
  color: #fff;
  background-color: rgba(109, 108, 108, 0.8);

  font-weight: 900;
  font-size: 1.1em;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}

.input {
  background: transparent;
  width: 100%;
  border: 0;
  border-bottom: 3.5px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: white;
}

.input::placeholder {
  color: white;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: #fff;
}

.search:focus {
  outline: none;
  border: 1px solid #000000;

  color: #fff;
}
