.card {
  width: 230px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  padding: 6px;
  position: relative;
  margin-top: 5px;
  /* margin-left: 3%;
  margin-right: 3%; */
}

.image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.cardbody {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  margin-top: -53px;
  border-radius: 6px;
}

.card:hover .cardbody {
  right: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-top: -5px;
  border-radius: 0px 0px 6px 6px;
  height: 55px;
  width: 100%;
}

.cardsubtitle {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  margin-top: 60px;
}

.cardinfo {
  font-size: 16px;
  line-height: 25px;

  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardbtn {
  background-color: rgba(109, 108, 108, 0.5);
  padding: 10px 10px;
  width: 120px;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  backdrop-filter: blur(1px);
  transition: all 0.1s ease-in-out;
  height: 35px;
  color: #fff;
}

.cardbtn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  border-bottom: 1px solid white;
}
